/*
 * Fonts
 */
@font-face {
  font-family: 'BentonSans Bold';
  src: url('../fonts/benton_bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/benton_bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/benton_bold.woff') format('woff'), /* Modern Browsers */
       url('../fonts/benton_bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/benton_bold.svg#ed8435d366a4ac4bee8ecd80fc76b4b5') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'BentonSans Book';
  src: url('../fonts/benton_book.eot'); /* IE9 Compat Modes */
  src: url('../fonts/benton_book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/benton_book.woff') format('woff'), /* Modern Browsers */
       url('../fonts/benton_book.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/benton_book.svg#ace0ed135dbc9c8610ca3f0bf5ce3b98') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'BentonSans Light';
  src: url('../fonts/benton_light.eot'); /* IE9 Compat Modes */
  src: url('../fonts/benton_light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/benton_light.woff') format('woff'), /* Modern Browsers */
       url('../fonts/benton_light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/benton_light.svg#f78597f6497138650c310eebac22df9c') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'BentonSans Medium';
  src: url('../fonts/benton_medium.eot'); /* IE9 Compat Modes */
  src: url('../fonts/benton_medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/benton_medium.woff') format('woff'), /* Modern Browsers */
       url('../fonts/benton_medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/benton_medium.svg#a8060284b02b2442ada7a339eccbdbe3') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'BentonSans Regular';
  src: url('../fonts/benton_regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/benton_regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/benton_regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/benton_regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/benton_regular.svg#f50175ba80b800aed21afcc63f3304ef') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'BentonSans Bold';
  src: url('../fonts/benton_bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/benton_bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/benton_bold.woff') format('woff'), /* Modern Browsers */
       url('../fonts/benton_bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/benton_bold.svg#ed8435d366a4ac4bee8ecd80fc76b4b5') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'fontello';
  src: url('../fonts/icon-font/fontello.eot?81400545');
  src: url('../fonts/icon-font/fontello.eot?81400545#iefix') format('embedded-opentype'),
       url('../fonts/icon-font/fontello.woff?81400545') format('woff'),
       url('../fonts/icon-font/fontello.ttf?81400545') format('truetype'),
       url('../fonts/icon-font/fontello.svg?81400545#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*
 * Fontello font icons
 */
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-attention:before { content: '\e800'; } /* '' */
.icon-twitter:before { content: '\e802'; } /* '' */
.icon-facebook:before { content: '\e803'; } /* '' */
.icon-linkedin:before { content: '\e804'; } /* '' */

/*
 * General
 */
body {
	font: 16px/23px 'BentonSans Regular', 'helvetica neue', helvetica, arial, sans-serif;
}

b, strong {
	font-family: 'BentonSans Bold', sans-serif;
	font-weight: normal;
}

.vertical-align-parent {
	display: table;
	height: 100%;
	width: 100%;
}

.vertical-center {
	display: table-cell;
	vertical-align: middle;
}

.button {
	background: #bd0027;
	border-bottom: 4px solid #7f001a;
	border-radius: 5px;
	box-sizing: border-box;
	color: #fff;
	display: block;
	height: 40px;
	line-height: 40px;
	margin: 30px auto;
	max-width: 300px;
	min-width: 60px;
	padding: auto 10px;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 0 0;
}

.button:hover,
.button:active {
	border-bottom-width: 2px;
}

.h1 {
	font-family: 'BentonSans Bold', sans-serif;
	font-size: 32px;
	line-height: 30px;
}

.h2 {
	font-family: 'BentonSans Bold', sans-serif;
	font-size: 24px;
	line-height: 22px;
	text-align: left;
}

.h3 {
	font-family: 'BentonSans Medium', sans-serif;
	font-size: 18px;
	line-height: 16px;
}

.home,
.skillset,
.about,
.contact {
	box-sizing: border-box;
	max-width: 100%;
	padding: 5%;
}

/*
 * Home
 */

.home {
	background: url('../images/office.jpg') no-repeat 50% 50%;
	background-size: cover;
	color: #fff;
	min-height: 100%;
	text-align: center;
	text-shadow: rgba(0,0,0,1) 2px 2px 0;

	.description {
		border-top: 1px solid #000;
	}
}

.skillset {
	background: #282828;
	background: radial-gradient(ellipse at center,  #444444 0%,#282828 100%);
	color: #fff;
	min-height: 100%;
	text-align: center;
	text-shadow: rgba(0,0,0,0.7) 2px 2px 0;

	.column {
		padding-top: 60px;
	}

	ul {
		list-style: none;
		padding: 0;
		text-align: center;

		li {
			max-width: 100%;
			display: inline-block;
			margin: 0 10px 10px;
			vertical-align: middle;
		}
	}

	.icon {
		max-height: 120px;
		max-width: 90px;
		width: 100%;
	}

	.icon-gulp {
		width: auto;
	}
}

.about {
	min-height: 100%;
}

.contact {
	background: #f7f7f7;
	background: radial-gradient(ellipse at center,  #f7f7f7 0%,#e5e5e5 100%);
	min-height: 100%;

	.text,
	textarea {
		background: #666;
		border: 4px solid #666;
		color: #fff;
		display: block;
		margin-bottom: 10px;
		outline: 0;
		padding: 10px 0;
		text-indent: 10px;
		width: 100%;
	}

	textarea {
		height: 120px;
		max-width: 100%;
	}

	.text:focus,
	textarea:focus {
		border-color: #999;
	}

	input.button {
		border-left: 0;
		border-right: 0;
		border-top: 0;
		outline: 0;
		min-width: 240px;
	}

	.counter {
		display: block;
		text-align: right;
	}

	.exceeded {
		color: #bd0027;
	}

	.social-share {
		list-style: none;
		text-align: center;

		li {
			display: inline-block;
			margin: auto 10px;

			a {
				background: #999;
				border-radius: 50%;
				color: #fff;
				display: block;
				height: 40px;
				line-height: 40px;
				text-align: center;
				text-decoration: none;
				width: 40px;

				span {
					display: block;
					text-indent: -9999px;
				}
			}

			a:before {
				line-height: 2.5em !important;
			}

			a.icon-facebook:hover {
				background: #33589a;
			}
			a.icon-twitter:hover {
				background: #55acee;
			}
			a.icon-linkedin:hover {
				background: #0087be;
			}
		}
	}
}





